<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>
  
  <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: "Are you sure that you want to delete this post?" } %>
  
  <%= button_to 'Me gusta', reactions_path(post_id: @post.id, reaction_type: 'like') %>
  <%= button_to 'No me gusta', reactions_path(post_id: @post.id, reaction_type: 'dislike') %>
</div>

<%= form_with model: Comment.new, url: comments_path do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.text_area :content, placeholder: 'Write a commment', rows: 3 %>
  <%= f.submit 'Comment' %>
<% end %>

<h3>Comentarios</h3>
<% @post.comments.each do |comment| %>
  <p>
    <%= comment.content %> - 
    <%= comment.user ? comment.user.email : 'Anonimous' %>
  </p>
<% end %>
 